.spacer {
  flex: 1 1 auto;
}

.navigation {
  display: inline;
  padding: 0 14px;
}

.search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.demo-tab-content {
  padding: 16px;
}


