<mat-grid-list cols="3" rowHeight="6:3">
  <mat-grid-tile *ngFor="let idea of recomIdeas">
    <a href="/idea/{{idea.id}}">
      <img class="img" src='{{idea.picture}}'>
      <mat-grid-tile-header class="header">
        <button mat-button mat-icon-button arial-label (click)="like(idea.id)" class="search-btn">
          <mat-icon>{{idea.favorIcon}}</mat-icon>
        </button>
      </mat-grid-tile-header>
      <mat-grid-tile-footer class="footer">
        <ul>
          <li class="idea-name">{{idea.name}}</li>
          <li class="idea-description">{{idea.description}}</li>
        </ul>
      </mat-grid-tile-footer>
    </a>
  </mat-grid-tile>
</mat-grid-list>