<mat-toolbar color="primary">
  <img src="assets/image/logo.jpg">
  <span class="spacer"></span>

  <app-search-idea class="navigation"></app-search-idea>

  <a routerLink="/admin">
    <span class="navigation">Home</span>
  </a>
  <a routerLink="/admin">
    <span class="navigation">Grow a new idea</span>
  </a>
  <a routerLink="/admin">
    <span class="navigation">My garden of ideas</span>
  </a>
  <a routerLink="/admin">
    <span class="navigation">Sign up</span>
  </a>
  <span>/</span>
  <a routerLink="/login">
    <span class="navigation">Sign in</span>
  </a>

</mat-toolbar>

<mat-grid-list cols="3" rowHeight="6:3">
  <mat-grid-tile *ngFor="let idea of topIdeas" (mouseenter)="mouseenter=idea" (mouseleave)="mouseenter=false">
    <img class="img" src='{{idea.picture}}'>
    <mat-grid-tile-footer *ngIf="mouseenter===idea">{{idea.name}}
      <br />{{idea.description}}</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Hot ideas">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
          vulputate. Etiam conse
        </div>
      </mat-tab>
      <mat-tab label="Recommended for you">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
          vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
          felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
          enim, vel tempor sapien arcu a tellus.
        </div>
      </mat-tab>
      <mat-tab label="New ideas">
        No content
      </mat-tab>
      <mat-tab label="Tab 4">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
          vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
          felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
          enim, vel tempor sapien arcu a tellus.
          <br />
          <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque
          ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
          consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>
      </mat-tab>
      <mat-tab label="Tab 5">
        No content
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<!-- 
<div class="search">
  <app-search-idea></app-search-idea>
</div> -->