.spacer {
  flex: 1 1 auto;
}

.navigation {
  display: inline;
  padding: 0 14px;
  color: white;
}

.search-input {
  background-color: white;
  color: black;
  border-radius: 20px;
  outline: none;
  box-shadow: 0;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  height: 100%;
  position	: relative;
}

.mat-grid-tile .mat-grid-tile-header {
  background: rgba(0,0,0,.0);
  justify-content: flex-end;
  color: red;
}

/* .mat-icon { 
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
} */

/* .idea {
  position: absolute;
	top: inherit;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font: bold 24px/45px Helvetica, Sans-Serif;
} */
