<mat-toolbar color="primary">
  <img src="assets/image/logo.jpg">
  <span class="spacer"></span>

  <app-search-idea class="navigation"></app-search-idea>

  <a routerLink="/">
    <span class="navigation">Home</span>
  </a>
  <a routerLink="/create">
    <span class="navigation">Grow a new idea</span>
  </a>
  <a routerLink="/name">
    <span class="navigation">My garden of ideas</span>
  </a>
  <a routerLink="/admin">
    <span class="navigation">Sign up</span>
  </a>
  <span>/</span>
  <a routerLink="/login">
    <span class="navigation">Sign in</span>
  </a>

</mat-toolbar>

<mat-grid-list cols="3" rowHeight="6:3">
  <mat-grid-tile *ngFor="let idea of topIdeas" (mouseenter)="mouseenter=idea" (mouseleave)="mouseenter=false">
    <a href="/idea/{{idea.id}}">
      <img class="img" src='{{idea.picture}}'>
      <mat-grid-tile-header class="header">
          <button mat-button mat-icon-button arial-label (click)="like(idea.id)" class="search-btn">
            <mat-icon>{{idea.favorIcon}}</mat-icon>
          </button>
      </mat-grid-tile-header> 
      <mat-grid-tile-footer *ngIf="mouseenter===idea">{{idea.name}}
        <br />{{idea.description}}</mat-grid-tile-footer>
    </a>
  </mat-grid-tile>
</mat-grid-list>

<app-tabs-ideas></app-tabs-ideas>